html,body {
  font-family: sans-serif;
  background: #466368;
  background: linear-gradient(to bottom, #f6f1d3, #648880, #293f50);
  height: 100%;
}
* {
    box-sizing: content-box;
}
#content{
      margin: auto;
      padding: 15px;
      border: 3px solid white;
      background: #ffffe6;
      width: 1300px;
      height: 650px;
      border-radius: 10px;
}
.editor {
 margin: 5px;
 padding: 5px;
 width: 65%;
 height: 90%;
 float: right;
 border: 3px solid black;
 border-radius: 5px;
 overflow:auto;
}
#menu {
  margin: auto;
  padding: 3px;
  height: 40px;
  float: top;
}

#wynik {
  margin: 5px;
  padding: 5px;
  width: 27%;
	height: 90%;
  border: 3px solid black;
  border-radius: 5px;
  float: left;
  overflow-y: scroll;
  box-sizing: content-box;
}

#synonim_menu {

 padding: 3px;
 width: auto;
 height: 240px;
 border: 3px solid black;
 border-radius: 5px;
 text-align: center;
 box-sizing: content-box;
}

#word_countUI
{
 margin: 3px;
 padding: 3px;
 width: auto;
height: 240px;
 border: 3px solid black;
 border-radius: 5px;
 text-align: center;
}

#speech_partsUI
{
 margin: 3px;
 padding: 3px;
 width: auto;
height: 240px;
 border: 3px solid black;
 border-radius: 5px;
 text-align: center;
}

#definicja {
  margin: 3px;
  padding: 3px;
 width: auto;
height: 240px;
 border: 3px solid black;
 border-radius: 5px;
text-align: center;
}

#ontologie
{
 margin: 3px;
 padding: 3px;
 width: auto;
height: 240px;
 border: 3px solid black;
 border-radius: 5px;
text-align: center;
 overflow:auto;
 box-sizing: content-box;
}

ul {
    width: 200px; /* Set a width if you like */
    position: fixed;
    overflow-y: auto;
    height: 200px;
}

 a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

 a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

 a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: black;
}
